.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, rgb(129, 32, 129) 0%, rgb(28, 28, 151) 100%);

  h1 {
    color: #fff;
    margin-left: 20px;
  }

  &__wrapper {
    width: 600px;
  }
}
